* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Calibri;
}

html {
  font-size: 15px;
}

body {
  background-color: #b0a295;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}

.chartBox {
  width: 100vmin;
  height: 100vmin;
}


.inputsBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
  width: 30%;
  height: 100%;
}

.selectsBox {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 4%;
}

select {
  padding: 0 1rem;
  height: 30px;
  border-radius: 5px;
  border: none;
  text-align: center;
  color: white;
  background-color: #557a95;
  font-size: large;
  transition: 0.3s;
}

/* .selectBoxCountry {
  width: 100%;
} */

select:hover {
  background-color: #6c8393;
}

.coronaInfo {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 4%;
}

button {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

button:focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

button:hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}